.ProductGallery {
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    justify-content: space-around;
    gap: 10px;
    padding: 50px;
}

.ProductGallery .ProductWrapper {
    width: 20%; 
    height: auto;
}

.ProductGallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.NewProduct1{
    margin-bottom:50px ;
}

.NewProduct2{
    margin-top:50px;
}

.NewProduct3{
    margin-bottom:50px ;
}

.NewProduct4{
    margin-top:50px;
}