.DetailTitleHeaderContainer {
  display: flex;
  margin-bottom: 50px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
}

.CategoryLabelBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-right: 10px;
}

.CategoryLabelText {
  writing-mode: vertical-rl;
  font-size: 40px;
  letter-spacing: 1.5px;
  white-space: nowrap;
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
}

.VerticalDividerLine {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 150%;
  background: linear-gradient(to bottom, black, white);
}


.InfoBlock {
  flex-grow: 1;
  position: relative;
  align-content: center;
  text-align: center
}

.InfoBlock h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.InfoBlock p {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.HorizontalDividerLine {
  position: absolute;
  left: calc(-20px - 20px); 

  bottom: 0;
  width: calc(100% + 20px);

  height: 1px;
  background: linear-gradient(to right, black, white);
}


@media screen and (max-width:768px) {

  .CategoryLabelText{
    font-size: 30px;
  }
  .InfoBlock h1{
    font-size: 20px;
  }
}