.BrandConcept{
    display: flex;
    background-color: black;
    /* max-width: 1200px; */
    width: 100%;
    justify-content: center;
}

.BrandConceptLeft{
    display: flex;
    align-items: center;
}

.BrandConceptPic{
    width: 50%;
    height: auto;
    background-color: black;
}

.BrandConceptPic > img{
    width: 100%;
    height: auto;
    border-radius: 200px 0 0 200px;
}   