.FeaturePromoWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  transform: translateX(10px);
  z-index: 5;
}

.GradientLine {
  height: 1.5px;
}

.FeaturePromoTile {
  font-size: 30px;
  text-align: start;
  transform: translateX(-10px);
  white-space: nowrap;
}

.FeaturePromoSubtitle {
  font-size: 30px;
  transform: translateX(15px);
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .FeaturePromoTile {
    font-size: 20px;
    transform: translateX(-5px);
  }
  .FeaturePromoSubtitle {
    font-size: 20px;
    transform: translateX(5px);
  }
}
