.LocationBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10%;
  background-color: black;
}

.AspectRatioBox {
  width: 100%;
  position: relative;
  height: 0;
  /* 關鍵長寬比設定： (570/790) * 100% ≈ 72.15% */
  padding-top: 72.15%;
}

.AspectRatioBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MapBox {
  max-width: 790px;
  width: 100%;
  height: auto;
}

.MapBox > p {
  margin-top: 3%;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 130%;
  color: white;
  text-align: start;
  white-space: nowrap;
}


@media screen and (max-width:768px){

  .MapBox > p{
    font-size: 12px;
  }
}