.CartItem.card{
    display: flex;
    flex-direction: row;
    padding: 20px 10px 20px 10px;
    align-items: center;
    border-radius: 0;
    border: none;
}

.CartItem.card > img{
    border-radius: 0;
}

.CartItemBody{
    padding: 10px!important;
    border-radius: 0;
}

.CartItemBody >h2{
    font-size: 16px;
    white-space: nowrap;
}

.CartItemBody >h3{
    font-size: 16px;
    white-space: nowrap;
    margin: 0;
}

.CartBtn.btn{
    width: 50px;
    height: 30px;
    white-space: nowrap;
    font-size: 16px;
    padding: 0;
}